{% extends "clientes/padre.html"  %}
{% load static %}

    
{% block header %}

<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h3 class="mb-5"><em>{{mensaje}} </em></h3> {% csrf_token %}
        {% if mensaje == 'ERROR NO SE PUDO CREAR EL USUARIO' %}
            <button class="btn btn-primary"><a  href="{% url 'registro' %}">volver a intentar</a></button>
        {% endif %}
        <h1 class="mb-1">StreamingCenter</h1>
        <h3 class="mb-5"><em>Organiza tu tienda de manera UNICA</em></h3>
        <a class="btn btn-primary btn-xl" href="#about">cosas para hacer</a>
    </div>
</header>
{% endblock %}


{% block callout %}
{% endblock %}

{% block action%}
{% endblock %}





