{% extends "clientes/padre.html"  %}
{% load static %}


{% block header %}
<section class="" id="clientes">
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">StreamingCenter</h1>
            <div>
                <h3 class="mb-5"><em>Has cerrado sesion satifactoriamente</em></h3>

            </div>

                
            
    </header>
</section>
{% endblock %}






{% block login %}
{% endblock %}